body {
  	padding-top: 50px;
  	color: #666666;
}

button[type=submit], button[type=submit]:visited {
	margin-top: 15px;
	color: #ffffff;
	background-color: #2D4059;
	border-color: #2D4059;
	width: 87%;
}

button[type=submit]:hover, button[type=submit]:active {
	color: #ffffff;
	background-color: #1d2a3a;
	border-color: #1d2a3a;
}

#chart {
	text-align: center;
}

#home-container {
	padding-bottom: 50px;
}

#mapid { 
	height: 495px;
}

.navbar {
	background-color: #EA5455;
	border-color: #EA5455;
}

.navbar .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-nav li a {
	color: #F1F1F1;
}

.navbar-inverse .navbar-nav .active a {
	color: #ffffff;
	background-color: #B74448;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #ffffff;
}

.navbar-inverse .navbar-nav .active a:visited {
	color: #ffffff;
	background-color: #B74448;
}

.form-control {
	width: 80%;
}

.starter-template {
	padding: 20px 15px;
  	text-align: center;
}

.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } 
.legend { text-align: left; line-height: 18px; color: #555; } 
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }