<!DOCTYPE html>
<style>

svg{
    display: block;
    margin: auto;
}

text {
  font: 16px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.allocation.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.allocation.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

</style>
<html>

	<body>
		<h1 id = 'title' style = "text-align: center; color: #e36c09; font-family: 'Arial',sans-serif" >Optimal Bus Allocations</h1>

		<div id = "chart" style = "margin: auto; height: 520px;"></div>

		<script src="{{ url_for('static', filename='d3/d3.min.js') }}" ></script>
		<script type="text/javascript">

			// Chart dimensions.
			var margin = {top: 23.5, right: 19.5, bottom: 23.5, left: 39.5}; 
			var width = 680 - margin.right;
			var height = 880 - margin.top - margin.bottom;

			// Various scales. These domains make assumptions of data, naturally.
			var xScale = d3.scaleLinear().domain([1, 40]).range([0, width]);
			var yScale = d3.scaleLinear().domain([0, 180]).range([height, 0]);
			var radiusScale = d3.scaleSqrt().domain([0, 90]).range([0, 40]);

			// Create the SVG container and set the origin.
			var svg = d3.select("#chart").append("svg:svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			// Add the x-axis.
			svg.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + height + ")")
				.call(d3.axisBottom().scale(xScale));

			// Add the y-axis.
			svg.append("g")
				.attr("class", "y axis")
				.call(d3.axisLeft().scale(yScale));

			// Add an x-axis label.
			svg.append("text")
				.attr("class", "x label")
				.attr("text-anchor", "end")
				.attr("x", width)
				.attr("y", height - 6)
				.text("Allocation");

			// Add a y-axis label.
			svg.append("text")
				.attr("class", "y label")
				.attr("text-anchor", "end")
				.attr("y", 6)
				.attr("dy", ".75em")
				.attr("transform", "rotate(-90)")
				.text("Score");

			// Add the year label; the value is set on transition.
			var label = svg.append("text")
				.attr("class", "allocation label")
				.attr("text-anchor", "end")
				.attr("y", height - 24)
				.attr("x", width)
				.text(90);


			// Draw line on SVG for all scores
			var valueline = d3.line()
				.x(function(d) { return xScale(d.x); })
				.y(function(d) { return yScale(d.y); });

			d3.json("/routeScores", function(error,routes) {
				if (error) throw error;
				for(var data in routes){
					svg.append("path")
						.data(routes[data])
						.attr("d", valueline(routes[data]))
						.attr('stroke', '#4e74ba')
						.attr('stroke-width', 1)
						.attr('fill', 'none');
				}
			});

			//dimensional functions for each dot
			function x(route) {return route.k}
			function y(route) {return route.score}
			function size(route) {return route.size}
			function name(route) {return route.name}

		</script>

	</body>

</html>
