<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ad-Opt</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

    <script type="text/javascript" src="static/boston.js?version=1.1"></script>
    <script type="text/javascript" src="static/hubway.js?version=1.1"></script>
    <script type="text/javascript" src="static/tstop.js?version=1.2"></script>
    <script type="text/javascript" src="static/busstop.js?version=1.1"></script>
    <script type="text/javascript" src="static/colleges.js?version=1.1"></script>
    <script type="text/javascript" src="static/bigbelly.js?version=1.1"></script>
    <script type="text/javascript" src="static/markers.js?version=1.3"></script>
    <script src="static/index.js?version=2.6"></script>

    <!-- Custom styles for this template -->
    <link href="/static/style.css?version=2063" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Ad-Opt</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="visualization.html">Visualization</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" id="home-container">
      <div class="starter-template">
        <h1 style="font-size:30px">Find Your Next Optimal Ad Placement</h1>
        <p class="lead" style="font-size:15px"> The ratings are 1 to 3 from least optimal to the most optimal. </p>
        <div class="alert alert-warning" style="display:none" id="no-results">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Sorry!</strong> We could not find any zipcodes that match your query.
        </div>
      </div>
      <div class="row">
          <div class="col-sm-4">
              <form onsubmit="return false">
                <div class="form-group row">
                    <label for="numzip">Enter the no. of zipcodes you would like returned:</label>
                    <input class="form-control" type="number" value="1" id="num-zip" min="1" max="22">
                </div>
                <div class="form-group row">
                    <label for="hubways">Select your desired rating for <span style="color:#EA5455"> hubways</span>:</label>
                    <select class="form-control" id="hubways">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="tstops">Select your desired rating for <span style="color:#EA5455"> t-stops</span>:</label>
                    <select class="form-control" id="tstops">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="busstops">Select your desired rating for <span style="color:#EA5455"> bus stops</span>:</label>
                    <select class="form-control" id="busstops">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="colleges">Select your desired rating for <span style="color:#EA5455"> colleges</span>:</label>
                    <select class="form-control" id="colleges">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="bigbelly">Select your desired rating for <span style="color:#EA5455"> big belly's</span>:</label>
                    <select class="form-control" id="bigbelly">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary form-group row" onClick="getResult()">Submit</button>
              </form>
          </div>
          <div id="mapid" class="col-sm-8"></div>
        </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  </body>

</html>
